body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white; /* Light blue background for the entire webpage */
}

.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
}
